/*
   CSS styling examples for the Vaadin app.

   Visit https://vaadin.com/docs/styling/application-theme/ for more information.
*/

upload-box {
}

vaadin-button.calculate {
    margin: 0 auto;
}

vaadin-button.editCancelSave {
    color: green;
    margin-left: auto;
    margin-right: 0;
    max-width: 900px;
}

vaadin-list-box {
  margin: 0;
  max-width: 900px;
}

vaadin-details {
  max-width: 900px;
  margin-left: 0;
  margin-right: auto;
}

/* Example: the style is applied only to the textfields which have the `bordered` class name. */
vaadin-text-field.bordered::part(input-field) {
  box-shadow: inset 0 0 0 1px var(--lumo-contrast-30pct);
  background-color: var(--lumo-base-color);
}


